*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

img{
    border: none;
}

li{
    list-style: none;
}

body{
    background-color: #f2f2f2;
}